@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(12, 6, 6);
    color: rgba(132, 181, 245, 0.426);
    font-family: 'Noto Sans KR', sans-serif;
}
.timer-body{
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    border-radius: 50%;
    border: 2px solid white;
    width: 20rem;
    height: 20rem;
    align-items: center;
    margin: 5rem auto;

}
.digits{
    font-size: 70px;
    margin: 0 10px;
    width: 100%;
    text-align: center;
}
.digits span{
    font-size: 20px;
}
.stop-counter div{
    animation: blink 1.3s  infinite;
}
@keyframes blink {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#milli-seconds{
    font-size: 40px;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.controls > *{
    margin: 1rem;
}
.controls p{
    color: rgb(170, 169, 169);
    cursor: pointer;
}
.controls p:hover{
    color: rgba(132, 181, 245, 0.426);
}
.start{
    background-color:rgba(132, 181, 245, 0.426);
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor:pointer;
}
.start:hover{
    background-color: white;
}
.fa{
   color: black;
}
@media only screen and (max-width: 600px) {
   .controls{
       position: absolute;
       width: 100%;
       bottom:1rem;
   }
}